{% extends "NasAppBundle::layout.html.twig" %}
{% block title %}
	Accueil - {{ parent() }}
{% endblock %}
{% block titleAction %}<h2>Liste des interventions de la spécialité : {{ uneSpe.specialite }}</h2>{% endblock %}
{% block NasApp_body %}



{% endblock %}